header{
    padding: 21px 0;
    border: 1px black solid;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 21px;
    align-items: center;
}

.nav-links{
    display: flex;
    align-items: center;
}