.hero {
    display: flex;
    border: 1px black solid;
    border-top: none;
}

.ticker,
.hero__heading,
.hero__image {
    padding: 20px;
    width: 698px;
    border: 1px black solid;
}

.hero__heading {
    font-size: var(--heading-font-size);
    padding: 23px 80px;
    line-height: 65px;
    text-align: center;
    border-top: none;
    border-left: none;
}

.hero__image {
    border-bottom: none;
    border-top: none;
    border-left: none;
}