.products,
.products__list,
.card {
    display: flex;
    flex-direction: column;
}

.products__heading,
.products__list,
.products__cover{
    border: 1px black solid;
}

.products__heading{
    display: flex;
    font-size: var(--large-heading-font-size);
    justify-content: space-between;
    text-align: center;
    padding: 59px 30px;
    border-bottom: none;
    border-top: none;
}

.products__heading-caption{
    width: 785px;
    border-top: none;
    line-height: 73px;
}

.products__ticker{
    width: 100%;
    border-right: 1px black solid ;
    border-top: none;
}

.products__cover{
    padding: 21px;
    border-top: none;
}

.products__list-decor,
.products__list-overview {
    display: flex;
    padding: 21px;
    justify-content: space-between;
}

.card{
    background-image: url("/ujjo-site-page/assets/product-frame.png");
    width: 436px;
    height: 659px;
    justify-content: flex-end;
    margin-top: -120px ;
    text-align: center;
}

.card__image{
    padding: 0 23px 23px 23px;
}

.card__taste{
    font-size: var(--card-font-size);
    margin-bottom: 13px;
}

.card__title{
    font-size: var(--heading-card-font-size);
    margin-bottom: 14px;
}