:root{
    --font-family: "Roboto", sans-serif;
    --content-width: 1397px;

    --primary-background-color: #ffffff;
    --secondary-background-color: #CDFD3B;
    --primary-text-color: #000000;
    ---secondary-text-color: #222222;
    --primary-button-color: #FB4B4D;
    --secondary-color: #8B83F6;

    --base-font-size: 20px;
    --heading-font-size: 2.9 rem;        // 58px
    --large-heading-font-size: 3.25rem;  // 65px
    --body-font-size: 0.8rem;            // 16px
    --heading-card-font-size: 1.6 rem;  // 32px
    --card-font-size: 0.9rem;           // 18px
    --ticker-slider-font-size: 0.85rem;  // 17px
    --button-font-size: 0.7px            // 14px
}

body{
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    max-width: var(--content-width);
    padding: 0 21px;
}