@import url('_header.css');
@import url('_hero.css');
@import url('_products.css');
@import url('_story.css');
@import url('_banner.css');


html {
    font-size: 20px;
}

:root {
    --font-family: Roboto;
    --content-width: 1397px;

    --primary-background-color: #ffffff;
    --secondary-background-color: #CDFD3B;
    --primary-text-color: #000000;
    --secondary-text-color: #222222;
    --primary-button-color: #FB4B4D;
    --secondary-color: #8B83F6;

    --base-font-size: 1rem;              /* 20px */
    --heading-font-size: 2.9rem;         /* 58px */
    --large-heading-font-size: 3.25rem;  /* 65px */
    --heading-card-font-size: 1.6rem;    /* 32px */
    --card-font-size: 0.9rem;            /* 18px */
    --ticker-slider-font-size: 0.85rem;  /* 17px */
    --button-font-size: 0.7rem;          /* 14px */
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    max-width: var(--content-width);
    font-family: var(--font-family), sans-serif;
    margin: 0 auto;
    text-transform: uppercase;
}

a,
button {
    padding: 15px 44px;
    text-transform: uppercase;
    line-height: 22px;
    font-size: var(--button-font-size);
}

button {
    background-color: var(--primary-button-color);
    color: var(--primary-background-color);
    border: none;
}

.ticker {
    position: relative;
    overflow: hidden;
}

.ticker__wrapper {
    display: flex;
}

.ticker__item {
    display: flex;
    align-items: center;
    font-size: var(--ticker-slider-font-size);
    white-space: nowrap;
    flex-shrink: 0;
    animation: ticker 5s linear infinite;
}

.ticker__item-image {
    margin: 0 29px;
}

@keyframes ticker {
    0% {
        transform: translateZ(0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}